<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align: center">
        <mat-icon [routerLink] = "['/home']" >
          Home
        </mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aplikacija
          </mat-panel-title>
          <mat-panel-description>
            Aplikacija za vodjenje evidencije
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button></a>
          <a mat-button [routerLink] = "['/preduzece']">Preduzece</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button></a>
          <a mat-button [routerLink] = "['/obrazovanje']">Obrazovanje</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button></a>
          <a mat-button [routerLink] = "['/sektor']">Sektor</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Informacije
          </mat-panel-title>
          <mat-panel-description>
            Osnovne informacije o aplikaciji
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button></a>
          <a mat-button [routerLink] = "['/home']">Početna</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button></a>
          <a mat-button [routerLink] = "['/author']">Autor</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button></a>
          <a mat-button [routerLink] = "['/about']">O nama</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>